---
import TableOfContents from './TableOfContents';
import ContributeMenu from './ContributeMenu.astro';
import CommunityMenu from './CommunityMenu.astro';
import { useTranslations } from '../../i18n/util';
import generateToc from '../../util/generateToc';
import ShareButton from './ShareButton.astro';

const t = useTranslations(Astro);

const { content, githubEditUrl, headings } = Astro.props;
const overview = t('rightSidebar.overview');
---

<nav aria-label={t('rightSidebar.a11yTitle')}>
	{
		headings && (
			<TableOfContents
				client:media="(min-width: 50em)"
				toc={generateToc(headings, overview)}
				labels={{ onThisPage: t('rightSidebar.onThisPage') }}
				isMobile={false}
			/>
		)
	}
	<div class="buttons">
		<ShareButton/>
	</div>
	
	<!-- <ContributeMenu i18nReady={content.i18nReady} editHref={githubEditUrl} />
	<CommunityMenu /> -->
	
</nav>

<style>
	nav {
		width: 100%;
		padding: var(--doc-padding-block) 0;
		overflow: auto;
		font-size: var(--theme-text-xs);
	}
	.feedback-section {
		margin-block: 2rem;
		margin-inline-start: 2rem;
	}

	.buttons{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 2rem;
	}

	@media (min-width: 50em) {
		.feedback-section {
			margin-inline-start: 1rem;
		}
	}
</style>
