---
// This is the frontmatter section where you can import other components or scripts if needed

const { heading, body } = Astro.props as Props;
---

<div class="logo">
    <!-- <img src="/logos/grovery-logo.svg" /> -->
    <svg xmlns="http://www.w3.org/2000/svg" width="290" height="100" viewBox="0 0 285.951 94.455">
    <g id="CORELOGO" transform="translate(0)">
      <path id="Path_1070" data-name="Path 1070" d="M229.649,92.917h0Z" transform="translate(-171.763 -69.495)" fill="#81c051"/>
      <path id="Path_1071" data-name="Path 1071" d="M53.779,94.059q.6-.1,1.2-.208l.258-.051q.369-.072.737-.15l.369-.08q.349-.078.7-.161l.3-.072A46.788,46.788,0,0,0,79.82,80.163c8.637-9.038,13.29-20.831,12.765-32.354-.713-8.872-5.219-16.639-12.053-20.725l-.054-.031q-.216-.129-.436-.252l-.2-.11q-.163-.089-.327-.175l-.2-.106q-.183-.093-.367-.183l-.162-.079q-.845-.4-1.723-.731l-.073-.027q-.257-.095-.516-.183l-.117-.039q-.236-.079-.474-.152l-.132-.04a21.482,21.482,0,0,0-3.77-.761l-.057-.006q-.348-.037-.7-.063l-.1-.007q-.353-.025-.708-.038l-.058,0q-.387-.013-.775-.013a26.119,26.119,0,0,0-5,.528c-.163.034-.328.071-.493.109l-.329.075q-.343.082-.692.175l-.18.049q-.325.089-.655.188c-.219.067-.439.134-.656.206l-.08.026A26.089,26.089,0,1,1,21.175,47.288c0-.484.017-1,.055-1.61A46.916,46.916,0,0,1,24.38,30.251,47.464,47.464,0,0,1,43.586,7.146,46.866,46.866,0,0,1,57.832,1.277,47.219,47.219,0,1,0,47.26,94.506a47.72,47.72,0,0,0,6.52-.447" transform="translate(0 -0.052)" fill="#81c051"/>
      <path id="Path_1072" data-name="Path 1072" d="M177.27,36.635a47.221,47.221,0,0,0-56.613-35.42h.014l.018,0A46.892,46.892,0,0,0,106.442,7.09,47.293,47.293,0,0,0,84.085,45.62c-.016.275-.032.54-.039.792s-.007.519-.007.818c0,.361,0,.706.011,1.023a26.089,26.089,0,0,0,36.637,22.825,26.088,26.088,0,0,1,6.839-49.669,24.911,24.911,0,0,1,17.454,2.96c7.693,4.6,12.761,13.267,13.557,23.191.567,12.418-4.4,25.044-13.617,34.692A50.5,50.5,0,0,1,127.2,94.281q2.024.173,4.061.173l0,0A47.22,47.22,0,0,0,177.27,36.635" transform="translate(-62.856 0)" fill="#054c62"/>
      <path id="Path_1073" data-name="Path 1073" d="M549.489,85.549l-6.431,4.28a15.6,15.6,0,0,0-21.391.21,14.1,14.1,0,0,0-4.553,10.594,13.949,13.949,0,0,0,4.553,10.524,15.6,15.6,0,0,0,21.391.21l6.431,4.28a23.383,23.383,0,0,1-33.314.772,21.191,21.191,0,0,1-6.721-15.786,21.454,21.454,0,0,1,6.721-15.856,23.551,23.551,0,0,1,33.314.772" transform="translate(-381.04 -58.528)" fill="gray"/>
      <path id="Path_1074" data-name="Path 1074" d="M696.208,78.253a22.774,22.774,0,0,1,16.332,6.525,21.455,21.455,0,0,1,6.721,15.856,21.192,21.192,0,0,1-6.721,15.786,22.552,22.552,0,0,1-16.332,6.595,22.272,22.272,0,0,1-16.26-6.595,21,21,0,0,1-6.793-15.786,21.257,21.257,0,0,1,6.793-15.856,22.489,22.489,0,0,1,16.26-6.525m0,7.437a15.009,15.009,0,0,0-10.84,4.35,14.209,14.209,0,0,0-4.553,10.594,13.949,13.949,0,0,0,4.553,10.524,15.009,15.009,0,0,0,10.84,4.35,15.3,15.3,0,0,0,10.912-4.35,14.142,14.142,0,0,0,4.481-10.524,14.408,14.408,0,0,0-4.481-10.594,15.3,15.3,0,0,0-10.912-4.35" transform="translate(-503.478 -58.528)" fill="gray"/>
      <path id="Path_1075" data-name="Path 1075" d="M867.817,93.127A13.95,13.95,0,0,1,872.37,82.6a15.009,15.009,0,0,1,10.84-4.35h6.648l-2.24,7.437h-4.408a7.509,7.509,0,0,0-7.66,7.437v29.888h-7.733Z" transform="translate(-649.073 -58.528)" fill="gray"/>
      <path id="Path_1076" data-name="Path 1076" d="M974.585,78.253a22.774,22.774,0,0,1,16.332,6.525,21.455,21.455,0,0,1,6.72,15.856,23.049,23.049,0,0,1-.361,3.719H959.7a14.166,14.166,0,0,0,5.42,8,15.186,15.186,0,0,0,9.466,3.157,14.975,14.975,0,0,0,10.551-4.14l6.5,4.28a22.656,22.656,0,0,1-17.054,7.367,22.27,22.27,0,0,1-16.259-6.6,21,21,0,0,1-6.793-15.786,21.256,21.256,0,0,1,6.793-15.856,22.487,22.487,0,0,1,16.259-6.525m14.886,18.663a14.57,14.57,0,0,0-5.42-8.069,15.77,15.77,0,0,0-18.933,0,13.867,13.867,0,0,0-5.42,8.069Z" transform="translate(-711.687 -58.528)" fill="gray"/>
      <path id="Path_1077" data-name="Path 1077" d="M513.2,295.005l-1.171-1.678a2.154,2.154,0,0,1-.221.008h-1.294v1.67h-1.064v-5.731h2.358a3.175,3.175,0,0,1,1.3.246,1.888,1.888,0,0,1,.847.7,1.97,1.97,0,0,1,.295,1.089,1.943,1.943,0,0,1-.315,1.114,1.877,1.877,0,0,1-.9.7l1.318,1.883Zm-.385-4.536a1.635,1.635,0,0,0-1.056-.295h-1.245v2.284h1.245a1.619,1.619,0,0,0,1.056-.3,1.039,1.039,0,0,0,.36-.847,1.028,1.028,0,0,0-.36-.843" transform="translate(-381.04 -216.359)" fill="gray"/>
      <path id="Path_1078" data-name="Path 1078" d="M539.122,294.112V295h-4.3v-5.732h4.184v.893h-3.12v1.49h2.768v.876h-2.768v1.58Z" transform="translate(-400.014 -216.358)" fill="gray"/>
      <path id="Path_1079" data-name="Path 1079" d="M557.274,294.655a2.677,2.677,0,0,1-.979-.5l.369-.827a2.9,2.9,0,0,0,.864.454,3.136,3.136,0,0,0,1.027.176,1.776,1.776,0,0,0,.954-.2.62.62,0,0,0,.315-.541.524.524,0,0,0-.176-.405,1.242,1.242,0,0,0-.446-.25q-.27-.09-.737-.2a8.618,8.618,0,0,1-1.06-.311,1.748,1.748,0,0,1-.7-.487,1.313,1.313,0,0,1-.291-.9,1.529,1.529,0,0,1,.258-.864,1.746,1.746,0,0,1,.778-.618,3.153,3.153,0,0,1,1.273-.229,4.12,4.12,0,0,1,1.032.131,2.851,2.851,0,0,1,.876.377l-.336.827a3.315,3.315,0,0,0-.786-.336,2.933,2.933,0,0,0-.794-.115,1.658,1.658,0,0,0-.937.213.657.657,0,0,0-.307.565.51.51,0,0,0,.176.4,1.272,1.272,0,0,0,.446.246q.27.09.737.2a7.677,7.677,0,0,1,1.048.307,1.8,1.8,0,0,1,.7.487,1.286,1.286,0,0,1,.291.884,1.511,1.511,0,0,1-.258.86,1.753,1.753,0,0,1-.782.614,3.183,3.183,0,0,1-1.277.229,4.381,4.381,0,0,1-1.281-.188" transform="translate(-416.074 -216.115)" fill="gray"/>
      <path id="Path_1080" data-name="Path 1080" d="M580.152,294.462a2.818,2.818,0,0,1-1.106-1.056,3.045,3.045,0,0,1,0-3.022,2.818,2.818,0,0,1,1.106-1.056,3.468,3.468,0,0,1,3.16,0,2.831,2.831,0,0,1,1.106,1.052,3.061,3.061,0,0,1,0,3.029,2.829,2.829,0,0,1-1.106,1.052,3.468,3.468,0,0,1-3.16,0m2.612-.811a1.866,1.866,0,0,0,.72-.721,2.179,2.179,0,0,0,0-2.071,1.868,1.868,0,0,0-.72-.721,2.193,2.193,0,0,0-2.063,0,1.867,1.867,0,0,0-.721.721,2.177,2.177,0,0,0,0,2.071,1.865,1.865,0,0,0,.721.721,2.193,2.193,0,0,0,2.063,0" transform="translate(-432.79 -216.114)" fill="gray"/>
      <path id="Path_1081" data-name="Path 1081" d="M609.713,294.419a2.6,2.6,0,0,1-.663-1.912v-3.234h1.064v3.193q0,1.687,1.457,1.687t1.449-1.687v-3.193h1.048v3.234a2.607,2.607,0,0,1-.659,1.912,2.894,2.894,0,0,1-3.7,0" transform="translate(-455.531 -216.358)" fill="gray"/>
      <path id="Path_1082" data-name="Path 1082" d="M640.249,295.005l-1.171-1.678a2.158,2.158,0,0,1-.221.008h-1.294v1.67H636.5v-5.731h2.358a3.175,3.175,0,0,1,1.3.246,1.888,1.888,0,0,1,.847.7,1.97,1.97,0,0,1,.295,1.089,1.943,1.943,0,0,1-.315,1.114,1.877,1.877,0,0,1-.9.7l1.318,1.883Zm-.385-4.536a1.635,1.635,0,0,0-1.056-.295h-1.245v2.284h1.245a1.618,1.618,0,0,0,1.056-.3,1.039,1.039,0,0,0,.36-.847,1.028,1.028,0,0,0-.36-.843" transform="translate(-476.061 -216.359)" fill="gray"/>
      <path id="Path_1083" data-name="Path 1083" d="M661.738,294.463a2.807,2.807,0,0,1-1.1-1.052,3.073,3.073,0,0,1,0-3.03,2.839,2.839,0,0,1,1.1-1.052,3.228,3.228,0,0,1,1.568-.381,3.275,3.275,0,0,1,1.286.246,2.625,2.625,0,0,1,.982.713l-.688.647a2.005,2.005,0,0,0-1.531-.671,2.149,2.149,0,0,0-1.056.258,1.86,1.86,0,0,0-.729.717,2.194,2.194,0,0,0,0,2.08,1.856,1.856,0,0,0,.729.716,2.147,2.147,0,0,0,1.056.258,1.994,1.994,0,0,0,1.531-.68l.688.655a2.618,2.618,0,0,1-.987.713,3.3,3.3,0,0,1-1.29.246,3.229,3.229,0,0,1-1.568-.381" transform="translate(-493.821 -216.115)" fill="gray"/>
      <path id="Path_1084" data-name="Path 1084" d="M691.407,294.112V295h-4.3v-5.732h4.184v.893h-3.12v1.49h2.768v.876h-2.768v1.58Z" transform="translate(-513.914 -216.358)" fill="gray"/>
      <path id="Path_1085" data-name="Path 1085" d="M726.351,295l-.008-3.8-1.883,3.144h-.475l-1.883-3.1V295h-1.015v-5.732h.876l2.276,3.8,2.235-3.8h.876l.008,5.732Z" transform="translate(-539.327 -216.358)" fill="gray"/>
      <path id="Path_1086" data-name="Path 1086" d="M755.045,293.678h-2.865L751.614,295h-1.1l2.579-5.732h1.048L756.732,295h-1.114Zm-.352-.835-1.081-2.506-1.073,2.506Z" transform="translate(-561.34 -216.358)" fill="gray"/>
      <path id="Path_1087" data-name="Path 1087" d="M784.779,289.273V295H783.9l-3.161-3.881V295h-1.056v-5.732h.876l3.161,3.881v-3.881Z" transform="translate(-583.156 -216.358)" fill="gray"/>
      <path id="Path_1088" data-name="Path 1088" d="M808.935,293.678h-2.865L805.5,295h-1.1l2.579-5.732h1.048L810.622,295h-1.114Zm-.352-.835-1.081-2.506-1.073,2.506Z" transform="translate(-601.646 -216.358)" fill="gray"/>
      <path id="Path_1089" data-name="Path 1089" d="M835.952,291.83h1.007v2.284a3.2,3.2,0,0,1-1.032.54,3.959,3.959,0,0,1-1.212.189,3.269,3.269,0,0,1-1.58-.381,2.825,2.825,0,0,1-1.105-1.052,3.059,3.059,0,0,1,0-3.029,2.822,2.822,0,0,1,1.109-1.052,3.31,3.31,0,0,1,1.593-.381,3.478,3.478,0,0,1,1.31.238,2.569,2.569,0,0,1,.991.7l-.671.655a2.155,2.155,0,0,0-1.58-.655,2.235,2.235,0,0,0-1.077.254,1.851,1.851,0,0,0-.737.713,2.047,2.047,0,0,0-.266,1.048,2.016,2.016,0,0,0,.266,1.032,1.9,1.9,0,0,0,.737.72,2.159,2.159,0,0,0,1.069.262,2.307,2.307,0,0,0,1.179-.295Z" transform="translate(-622.006 -216.115)" fill="gray"/>
      <path id="Path_1090" data-name="Path 1090" d="M864.252,294.112V295h-4.3v-5.732h4.184v.893h-3.12v1.49h2.768v.876h-2.768v1.58Z" transform="translate(-643.191 -216.358)" fill="gray"/>
      <path id="Path_1091" data-name="Path 1091" d="M888.607,295l-.008-3.8-1.883,3.144h-.475l-1.883-3.1V295h-1.015v-5.732h.876l2.276,3.8,2.235-3.8h.876l.008,5.732Z" transform="translate(-660.685 -216.358)" fill="gray"/>
      <path id="Path_1092" data-name="Path 1092" d="M920.287,294.112V295h-4.3v-5.732h4.184v.893h-3.12v1.49h2.768v.876h-2.768v1.58Z" transform="translate(-685.101 -216.358)" fill="gray"/>
      <path id="Path_1093" data-name="Path 1093" d="M944.469,289.273V295h-.876l-3.161-3.881V295h-1.056v-5.732h.876l3.161,3.881v-3.881Z" transform="translate(-702.595 -216.358)" fill="gray"/>
      <path id="Path_1094" data-name="Path 1094" d="M966.288,290.174h-1.9v-.9h4.864v.9h-1.9V295h-1.064Z" transform="translate(-721.302 -216.358)" fill="gray"/>
      <path id="Path_1095" data-name="Path 1095" d="M998.143,294.655a2.677,2.677,0,0,1-.979-.5l.369-.827a2.9,2.9,0,0,0,.864.454,3.136,3.136,0,0,0,1.027.176,1.776,1.776,0,0,0,.954-.2.62.62,0,0,0,.315-.541.524.524,0,0,0-.176-.405,1.242,1.242,0,0,0-.446-.25q-.27-.09-.737-.2a8.611,8.611,0,0,1-1.06-.311,1.748,1.748,0,0,1-.7-.487,1.313,1.313,0,0,1-.291-.9,1.528,1.528,0,0,1,.258-.864,1.746,1.746,0,0,1,.778-.618,3.153,3.153,0,0,1,1.273-.229,4.12,4.12,0,0,1,1.032.131,2.851,2.851,0,0,1,.876.377l-.336.827a3.316,3.316,0,0,0-.786-.336,2.933,2.933,0,0,0-.794-.115,1.658,1.658,0,0,0-.937.213.657.657,0,0,0-.307.565.51.51,0,0,0,.176.4,1.273,1.273,0,0,0,.446.246q.27.09.737.2a7.677,7.677,0,0,1,1.048.307,1.8,1.8,0,0,1,.7.487,1.286,1.286,0,0,1,.291.884,1.511,1.511,0,0,1-.258.86,1.753,1.753,0,0,1-.782.614,3.183,3.183,0,0,1-1.277.229,4.381,4.381,0,0,1-1.281-.188" transform="translate(-745.816 -216.115)" fill="gray"/>
      <path id="Path_1096" data-name="Path 1096" d="M1020.62,292.982V295h-1.065V293l-2.252-3.726h1.138l1.679,2.792,1.695-2.792h1.048Z" transform="translate(-760.88 -216.358)" fill="gray"/>
      <path id="Path_1097" data-name="Path 1097" d="M1042.321,294.655a2.678,2.678,0,0,1-.979-.5l.369-.827a2.9,2.9,0,0,0,.864.454,3.135,3.135,0,0,0,1.027.176,1.776,1.776,0,0,0,.954-.2.62.62,0,0,0,.315-.541.524.524,0,0,0-.176-.405,1.242,1.242,0,0,0-.446-.25q-.27-.09-.737-.2a8.6,8.6,0,0,1-1.06-.311,1.748,1.748,0,0,1-.7-.487,1.313,1.313,0,0,1-.291-.9,1.529,1.529,0,0,1,.258-.864,1.746,1.746,0,0,1,.778-.618,3.153,3.153,0,0,1,1.273-.229,4.121,4.121,0,0,1,1.032.131,2.85,2.85,0,0,1,.876.377l-.335.827a3.314,3.314,0,0,0-.786-.336,2.932,2.932,0,0,0-.794-.115,1.658,1.658,0,0,0-.937.213.657.657,0,0,0-.307.565.51.51,0,0,0,.176.4,1.273,1.273,0,0,0,.446.246q.27.09.737.2a7.682,7.682,0,0,1,1.048.307,1.8,1.8,0,0,1,.7.487,1.286,1.286,0,0,1,.291.884,1.511,1.511,0,0,1-.258.86,1.752,1.752,0,0,1-.782.614,3.183,3.183,0,0,1-1.277.229,4.381,4.381,0,0,1-1.281-.188" transform="translate(-778.858 -216.115)" fill="gray"/>
      <path id="Path_1098" data-name="Path 1098" d="M1063.968,290.174h-1.9v-.9h4.864v.9h-1.9V295h-1.064Z" transform="translate(-794.36 -216.358)" fill="gray"/>
      <path id="Path_1099" data-name="Path 1099" d="M1090.469,294.112V295h-4.3v-5.732h4.184v.893h-3.12v1.49H1090v.876h-2.768v1.58Z" transform="translate(-812.387 -216.358)" fill="gray"/>
      <path id="Path_1100" data-name="Path 1100" d="M1114.824,295l-.008-3.8-1.883,3.144h-.475l-1.883-3.1V295h-1.015v-5.732h.876l2.276,3.8,2.235-3.8h.876l.008,5.732Z" transform="translate(-829.88 -216.358)" fill="gray"/>
    </g>
    </svg>              
  </div>
<style is:global>
  /* Logo Dark Theme color changes */
	html.theme-dark #CORELOGO svg {
		overflow: visible;
	}
	html.theme-dark #CORELOGO path {
		fill: var(--theme-text);
	}
	html.theme-dark #CORELOGO #Path_1072 {
		fill: var(--theme-text);
	}
	html.theme-dark #CORELOGO #Path_1071 {
		fill: transparent;
		/* stroke: var(--theme-accent); */
		stroke: var(--theme-text-lighter);
		stroke-width: 3px;
	}
</style>
<style lang="scss">
  /* Logo height as image -- still commented out above btw */
	.logo img {
		height: 60px;
	}
	/* Logo as inline svg */
	.logo svg {
		height: 60px;
		width: auto;
		display: block;
		color: var(--theme-accent);
    transition: all .2s ease-in-out;
	}
	/* increase logo size on tablet & desktop */
	@media (min-width: 20em) {
		.logo svg {
		height: 40px;
		}
	}
	@media (min-width: 23.5em) {
		.logo svg {
		height: 50px;
		}
	}
	@media (min-width: 30em) {
		.logo svg {
		height: 60px;
		}
	}
	@media (min-width: 51em) {
		.logo svg {
		height: 80px;
		}
	}
</style>
