---
// This is the frontmatter section where you can import other components or scripts if needed

import Button from '~/components/Button.astro'

const { heading, body } = Astro.props as Props;
---

<button class='OptionsButton' onclick="modalOpenOptions();">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0-4 0zm0-6a2 2 0 1 0 4 0a2 2 0 0 0-4 0zm0 12a2 2 0 1 0 4 0a2 2 0 0 0-4 0z"/></svg>
</button>

<style lang="scss">
  
  .OptionsButton {
      border: 1px solid var(--custom-accent-1-50);
      border-radius: 0.5rem;
      // background-color: transparent;
      background-color: var(--theme-code-inline-bg);
      cursor: pointer;
      font-size: 1rem;
      padding: 0.15em;
      color: var(--theme-text);
      line-height: calc(1 / var(--theme-text-xs));
      &:hover{
        background-color: var(--custom-accent-2-10);
      }
      [astro-icon] {
        color: var(--theme-text);
      }
      svg{
        position: relative;
        top: 4px;
        fill: var(--theme-text);
      }
  }

</style>

<script type="text/javascript">
  function modalOpenOptions(){
    var targetElement = document.querySelector(".ModalWrapper[data-modal='options']");
    targetElement.classList.add("active");
  }
</script>