---
// This is the frontmatter section where you can import other components or scripts if needed
---

<div class="video-responsive">
    <iframe
      width="560"
      height="315"
      src={`https://www.youtube.com/embed/${Astro.props.videoId}`}
      frameBorder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowFullScreen
    ></iframe>
  </div>
  