---
// This is the frontmatter section where you can import other components or scripts if needed

//DOCS: https://github.com/netlify/netlify-identity-widget/tree/master

import LoadingText from '~/components/DynamicContent/LoadingText.astro';

const { info } = Astro.props as Props;
---

<div class="IfLoggedIn">

  <div class="placeholder">
    <LoadingText/> 
  </div>
  
  <div class="loggedIn">
    <slot name="loggedIn"/>
  </div>

  <div class="loggedOut">
    <slot name="loggedOut"/>
  </div>

</div>

<style lang="scss">
  .IfLoggedIn{
    .placeholder{display: block;}
    .loggedIn{display: none;}
    .loggedOut{display: none;}

    &.currentlyLoggedIn{
      .placeholder{display: none;}
      .loggedIn{display: block;}
      .loggedOut{display: none;}
    }
    &.currentlyLoggedOut{
      .placeholder{display: none;}
      .loggedIn{display: none;}
      .loggedOut{display: block;}
    }
  }
</style>

<script type="text/javascript">
  console.log("IfLoggedIn functions started.");
  function LogInWrapperFunctions() {
    setTimeout(() => {
      console.log("IfLoggedIn functions triggered.");
      console.log("IfLoggedIn functions executed.");

      //grab all user info
      var loggedIn = SessionManager.getItem('loggedIn');
      var user = netlifyIdentity.currentUser();
      
      var elements = document.querySelectorAll('.IfLoggedIn');

      if( loggedIn == true){
        //logged in
        console.log("IfLoggedIn --- Logged In | cookie");
        elements.forEach(element => {
          element.classList.add("currentlyLoggedIn"); 
        });
      }else if(user != null){
        //logged in
        console.log("IfLoggedIn --- Logged In | direct");
        console.log(user);
        elements.forEach(element => {
          element.classList.add("currentlyLoggedIn"); 
        });
      } else {
        //logged out
        console.log("IfLoggedIn --- Logged Out");
        elements.forEach(element => {
          element.classList.add("currentlyLoggedOut"); 
        });
      }
      //end
    }, 2000); //time in ms
    
  }

  

  LogInWrapperFunctions();
</script>